{% extends 'base.html.twig' %}

{% block title %}Hello VisitController!{% endblock %}

{% block body %}
    <main>
        <section>
            <h3>page accueil</h3>
        </section>
    </main>
{% endblock %}
